In [1]:
from pyspark import SparkContext, SparkConf
import initspark

In [2]:
conf = SparkConf().setAppName("BabyNames").setMaster("local")
sc = SparkContext(conf=conf)

### CSV - Datei einlesen

In [4]:
rdd = sc.textFile("data/names/StateNames.csv")

In [5]:
rdd.count()

5647427

In [6]:
rdd.take(5)

['Id,Name,Year,Gender,State,Count',
 '1,Mary,1910,F,AK,14',
 '2,Annie,1910,F,AK,12',
 '3,Anna,1910,F,AK,10',
 '4,Margaret,1910,F,AK,8']

In [11]:
'1,Mary,1910,F,AK,14'.split(",")

['1', 'Mary', '1910', 'F', 'AK', '14']

In [12]:
rdd.map(lambda x: x.split(",")).take(5)

[['Id', 'Name', 'Year', 'Gender', 'State', 'Count'],
 ['1', 'Mary', '1910', 'F', 'AK', '14'],
 ['2', 'Annie', '1910', 'F', 'AK', '12'],
 ['3', 'Anna', '1910', 'F', 'AK', '10'],
 ['4', 'Margaret', '1910', 'F', 'AK', '8']]

In [13]:
rdd.map(lambda x: x.split(",")).filter(lambda x: x[4] == "CA").take(5)

[['356018', 'Mary', '1910', 'F', 'CA', '295'],
 ['356019', 'Helen', '1910', 'F', 'CA', '239'],
 ['356020', 'Dorothy', '1910', 'F', 'CA', '220'],
 ['356021', 'Margaret', '1910', 'F', 'CA', '163'],
 ['356022', 'Frances', '1910', 'F', 'CA', '134']]

In [19]:
rdd\
    .map(lambda x: x.split(","))\
    .filter(lambda x: x[4] == "CA")\
    .filter(lambda x: x[1] == "Julia")\
    .filter(lambda x: x[2] == '2010')\
    .take(5)

[['545456', 'Julia', '2010', 'F', 'CA', '478']]