In [9]:
from pyspark import SparkContext, SparkConf

In [10]:
sc.stop() # Fix - ValueError: Cannot run multiple SparkContexts at once

In [11]:
conf = SparkConf().setAppName("BabyNames").setMaster("local")
sc = SparkContext(conf=conf)

In [14]:
rdd = sc.textFile("/Users/skybreakjohnson/Downloads/pythonspark/data/names/StateNames.csv")

In [15]:
rdd.count()

5647427

In [16]:
rdd.take(5) # string

['Id,Name,Year,Gender,State,Count',
 '1,Mary,1910,F,AK,14',
 '2,Annie,1910,F,AK,12',
 '3,Anna,1910,F,AK,10',
 '4,Margaret,1910,F,AK,8']

In [17]:
"1,Mary,1910,F,AK,14".split(",")

['1', 'Mary', '1910', 'F', 'AK', '14']

In [18]:
rdd.map(lambda x: x.split(",")).take(5) # list

[['Id', 'Name', 'Year', 'Gender', 'State', 'Count'],
 ['1', 'Mary', '1910', 'F', 'AK', '14'],
 ['2', 'Annie', '1910', 'F', 'AK', '12'],
 ['3', 'Anna', '1910', 'F', 'AK', '10'],
 ['4', 'Margaret', '1910', 'F', 'AK', '8']]

In [20]:
rdd.map(lambda x: x.split(",")).filter(lambda x: x[4] == "CA").take(5)

[['356018', 'Mary', '1910', 'F', 'CA', '295'],
 ['356019', 'Helen', '1910', 'F', 'CA', '239'],
 ['356020', 'Dorothy', '1910', 'F', 'CA', '220'],
 ['356021', 'Margaret', '1910', 'F', 'CA', '163'],
 ['356022', 'Frances', '1910', 'F', 'CA', '134']]

In [21]:
rdd\
    .map(lambda x: x.split(","))\
    .filter(lambda x: x[4] == "CA")\
    .filter(lambda x: x[1] == "Julia")\
    .filter(lambda x: x[2] == "2010")\
    .take(5)

[['545456', 'Julia', '2010', 'F', 'CA', '478']]

## Weitere Beispiele:

In [30]:
rdd\
    .map(lambda x: x.split(","))\
    .filter(lambda x: x[1] == "Kevin")\ # try some names
    .filter(lambda x: x[4] == "CA")\
    .filter(lambda x: x[2] == "2010")\
    .take(5)

[['695758', 'Kevin', '2010', 'M', 'CA', '1353']]